<!-- views/account/register.ejs (add stickiness) -->
<%- include('../partials/header') %>
<main>
  <h1><%= title %></h1>
  <%- messages() %>
  <% if (errors) { %>
    <ul class="errors">
      <% errors.array().forEach(err => { %>
        <li><%= err.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <form action="/account/register" method="post" class="register-form">
    <label for="account_firstname">First Name:</label>
    <input
      type="text"
      id="account_firstname"
      name="account_firstname"
      required
      value="<%= data.account_firstname || '' %>"
    >

    <label for="account_lastname">Last Name:</label>
    <input
      type="text"
      id="account_lastname"
      name="account_lastname"
      required
      value="<%= data.account_lastname || '' %>"
    >

    <label for="account_email">Email:</label>
    <input
      type="email"
      id="account_email"
      name="account_email"
      required
      value="<%= data.account_email || '' %>"
    >

    <label for="account_password">Password:</label>
    <div class="password-requirements">
      Password must be 12+ chars, include uppercase, number & symbol
    </div>
    <input
      type="password"
      id="account_password"
      name="account_password"
      required
      pattern="^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\\s).{12,}$"
    >

    <button type="submit">Register</button>
  </form>
</main>
<%- include('../partials/footer') %>